# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# production
dist
firebase/hosting

# misc
.DS_Store
.cache
.parcel-cache

yarn-debug.log*
yarn-error.log*
*.log*

.vscode
.firebase

