service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{document}  {
      allow read, write: if request.auth.uid != null;
    }

    match /trips/{document}  {
      allow read, write: if request.auth.uid != null;
    }

    match /leaders/{document}  {
      allow read: if request.auth.uid != null;
    }
    
    match /mail/{document} {
      allow read, write: if false;
    }
  }
}